

.logo-animato {
  border-radius: 20px;
  animation: fadeIn 2s;
}

.corpo-principale {
  padding-top: 100px;
  background-color: #fdfdfd;
}


.titolo-centrato {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sottotitolo-centrato {
  font-size: 1.5rem;
  opacity: 0.9;
}

.griglia-servizi {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
  gap: 30px;
}

.servizio-box {
    margin-top: 60px;
    margin-bottom: 60px;
    background: url('../img/texture_marrone.png') center center / cover no-repeat;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    color: white;
}



.immagine-servizio {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.testo-sez {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.8);
}


.piede-pagina {
  background-color: #1e1e1e;
}

.contenitore-footer {
  max-width: 600px;
  margin: 0 auto;
}

.section-divider {
  border-top: 1px solid white;
  margin: 80px 0;
}

.sez-col-text{
    text-align: left;
    margin-top: 25px;
}
.sez-col-text h2{
    padding-left: 20px;
    font-size: 80px;
    border-left: 5px solid #000000;
}
.sez-col-text p{
    padding-top: 20px;
    margin-right: 30px;
    font-size: 30px;
    line-height: 40px;
} 
.sez-col-img img{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 430px) {
  body {
    padding-top: 80px;
  }

  .titolo-centrato,
  .text-princ,
  .titolo-sezione,
  .testo-sez {
    font-size: 1.5rem;
    text-align: center;
  }

  .sottotitolo-centrato,
  .testo-centrato,
  .contatti-info,
  .descrizione-piatto {
    font-size: 1rem;
    text-align: center;
  }

  .griglia-servizi,
  .griglia-piatti,
  .griglia-mappa {
    gap: 15px;
    padding: 20px 10px;
    flex-direction: column;
  }

  .servizio-box,
  .box,
  .form-prenota,
  .mappa-tavoli {
    padding: 20px;
    width: 95%;
  }

  .sez-col-text h2 {
    font-size: 36px;
  }

  .sez-col-text p {
    font-size: 18px;
    line-height: 28px;
    margin-right: 10px;
  }

  .piatto-box img,
  .img-zoom,
  .carousel img {
    height: 200px;
  }

  .bottoni,
  #invia-btn,
  #prenota-btn,
  #reset-btn {
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }

  .navbar-nav {
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
  }

  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.85rem;
  }
}
